body{
	font-family: 造字工房雅圆（非商用）;
}



.logo2
{
	position: absolute;
	top:0;
	left: 80%;
	width: 20%;
}

.left
{
	
	top:0;
	left: 0;
	width: 20%;
	height: 100%;
	font-family: 造字工房朗倩（非商用）;
	font-size: 1.1em;
}

.logo
{
	margin-top: 20px;
	margin-bottom: 15px;
	margin-left: 40px;
	margin-right: 10px;
	width: 110px;
}

.tuichu
{
	background: url(../images/yonghuming.png) no-repeat 0px 0px;
	height: 33px;
	width: 110px;
	padding-top: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 40px;
	margin-right: 10px;
	text-align: center;
	font-size: 1.2em;

	color: black;
	text-decoration: none;
}

.butt
{
	width: 110px;
	margin-top: 10px;
	margin-bottom: 8px;
	margin-left: 40px;
	margin-right: 10px;
}

.gouwuche
{
	position: absolute;
	left: 20%;
	top:6%;
	width: 110px;

}

.history
{
	position: absolute;
	left: 32%;
	top:7%;
	width: 200px;
	color: #a0a0a0;
	font-size: 0.8em;
}

.foot
{
	width: 100%;
	height: 100%;
	background-position: center;
}

#table3
{
	position: absolute;
	left: 20%;
	top:22%;
	width: 70%;
	border-collapse: collapse;
	border-left: none;
	border-right: none;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	border: 1px solid #e5e5e5;
	color: black;
	font-size: 0.9em;
	text-align: center;
}

#table3 td
{
	width: 80px;
	height: 70px;
	font-size:1em;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	padding:3px 7px 2px 7px;
	background-color: white;
}

#table3 th
{
	height: 20px;
	font-size:0.8em;
	
	padding:3px 7px 2px 7px;
	background-color: #e5e5e5;
}

#table3 th input[type="checkbox"]
{
	float: left;
}

#table3 td input[type="checkbox"]
{
	position:absolute;
	left: 0;
	margin-top: 20px;
}

#table3 input[type="text"]
{
	width: 30px;
}

.food_img
{
	height: 80%;
	margin-left: 20px;
	float: left;
}

.trash
{
	height: 40%;
}

.sign
{
	width: 12px;

}

.fanye
{
	position: absolute;
	left: 80%;
	width: 10%;
	top:80%;
	font-size: 0.7em;

}

.fanye img
{
	width: 20px;
}

.delete
{
	position: absolute;
	padding-top: 10px;
	left: 20%;
	top:87%;
	width: 65%;
	height: 30px;
	border: 1px solid #e5e5e5;
	color: black;
	font-size: 0.8em;
	
}

.jiesuan
{
	position: absolute;
	left: 84%;
	top:87%;
	width: 6%;
	height: 41px;
}
.text1
{
	margin-top: 2px;
	position: absolute;
	float: left;
	left: 10%;
}

.text2
{
	float: right;
	position: absolute;
	left: 73%;
}

.text3
{
	float: right;
	position: absolute;
	left: 87%;
}

